.header {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Gilroy';
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 117px;

    &__box {
        width: 70px;
        height: 70px;
        background: $black;
        position: absolute;
        top: 30px;
        z-index: 1;


        &--left {
            left: 24px;
        }

        &--right {
            right: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__title {
        text-decoration: none;
    }

    &__nav {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    &__burger {
        display: block;
        width: 40px;
        height: 2px;
        background: #fff;
        transform-origin: center;
        transform: rotate(135deg);
        
        &::after, &::before {
            content: '';
            display: block;
            width: 30px;
            height: 2px;
            background: #fff;
            margin: 0 auto;
        }
        &::before {
            transform: translateY(-8px);
        }

        &::after {
            transform: translateY(6px);
        }
    }
    
    
}

.menu-header {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    &__item {
        text-transform: uppercase;
        position: relative;
    }

    &__link {
        position: relative;
        z-index: 10;
        background: transparent;
        text-decoration: none;
        display: block;
        padding: 20px 15px;
    }

}

.menu-header__bar {
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #d19a7a;
}